        <!-- jQuery -->
        <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script type="text/javascript" th:src="@{js/metisMenu.min.js}"></script>


        <!-- Custom Theme JavaScript -->
        <script type="text/javascript" th:src="@{js/startmin.js}"></script>
		
		<footer>
			<div class ="text-center">Copyright onsemi 2023</div>
			<div class="clearfix"></div>
			<div class="text-center">
				<a href="https://itsupport.onsemi.com/EndUserPortal.jsp" target="_blank" class="btn btn-social-icon btn-support"><i class="fa fa-support"> Sysaid</i></a>
            	<a href="mailto:PH-OSPI Tarlac-IT CIM <PH-OSPI_Tarlac-IT_CIM@onsemi.com>" target="_blank" class="btn btn-social-icon btn-send"><i class="fa fa-send"> Contact Us</i></a>
                <a href="http://theconnection.onsemi.com/Pages/default.aspx" target="_blank" class="btn btn-social-icon btn-share"><i class="fa fa-share"> The Connection</i></a>
            </div>
            <div class="clearfix"></div>
		</footer>