            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top onsemi-color" role="navigation">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="#" class="onsemi-color-text"><i class="fa fa-home fa-fw"></i> MOS Bookmark Manager</a></li>
                </ul>
                
                <ul class="nav navbar-right navbar-top-links">
                	<li><a href="#" class="nav-text-1"><i class="fa fa-laptop fa-fw"></i> [[${clientip}]]</a></li>
                    <li><a href="#" class="onsemi-color-text"><i class="fa fa-user fa-fw"></i> Client PC </a></li>
                </ul>
                <!-- /.navbar-top-links -->

             	<!--
	                <div class="navbar-default sidebar" role="navigation">
	                    <div class="sidebar-nav navbar-collapse">
	                        <ul class="nav" id="side-menu">
	
	                        	<li class="sidebar-search">
	
	                        				<img th:src="@{onsemi-logo.png}" alt="onsemi"/> 
	                        		
	                            </li>                          
	                            <li>
	                                <a th:href="@{/listMOSApps}" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
	                            </li>
	
	                        </ul>
	                    </div>
	                </div>  
                -->              
                <div class="navbar-default sidebar  " role="navigation">
	               <div class="sidebar-nav navbar-collapse">
	                  <ul class="nav onsemi-color" id="side-menu">
	                      <!-- <li class="back-btn-cont">
	                        <button class="back-btn" data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1" class="btn btn-primary"
	                        aria-controls="#sidenav-1" aria-haspopup="true"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
	                        <br>
	                     </li> -->
	                     <li class="sideBarLink mt">
	                        <a href="#" class=""><i class="fa fa-dashboard fa-fw"></i> Dashboard </a>
	                     </li>
	                     <li class="sideBarLink">
	                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
	                        <ul class="nav nav-second-level">
	                            <li>
	                                <a href="#">Flot Charts</a>
	                            </li>
	                            <li>
	                                <a href="#">Morris.js Charts</a>
	                            </li>
	                        </ul>
	                    </li>
	                  </ul>
	               </div>
	            </div>
            
            </nav>